

@font-face{
  font-family: Robot-children;
  src: url(Robot Children.ttf) format('truetype');

}

html{
  background-color:none;
  font-family:'Robot Children'
}

body{
padding: 20px;
margin: 20px;
}
h1{
  Color: black;
  margin-top:inherit;
  padding-top: inherit;

}

}
